<carousel>
  <slide>
    <img
      src="assets/images/banner/Chrysanthemum.jpg"
      alt="Chrysanthemum"
      style="display: block; width: 100%;"
    />
  </slide>
  <slide>
    <img
      src="assets/images/banner/Desert.jpg"
      alt="Desert"
      style="display: block; width: 100%;"
    />
  </slide>
  <slide>
    <img
      src="assets/images/banner/Hydrangeas.jpg"
      alt="Hydrangeas"
      style="display: block; width: 100%;"
    />
  </slide>
  <slide>
    <img
      src="assets/images/banner/Jellyfish.jpg"
      alt="Jellyfish"
      style="display: block; width: 100%;"
    />
  </slide>
  <slide>
    <img
      src="assets/images/banner/Koala.jpg"
      alt="Koala"
      style="display: block; width: 100%;"
    />
  </slide>
  <slide>
    <img
      src="assets/images/banner/Tulips.jpg"
      alt="Tulips"
      style="display: block; width: 100%;"
    />
  </slide>
  <slide>
    <img
      src="assets/images/banner/Lighthouse.jpg"
      alt="Lighthouse"
      style="display: block; width: 100%;"
    />
  </slide>
  <slide>
    <img
      src="assets/images/banner/Penguins.jpg"
      alt="Penguins"
      style="display: block; width: 100%;"
    />
  </slide>
</carousel>
